.super-container{
    display: flex;
    flex-direction: column;
}

.words-super-container{
    display: flex;
    flex-direction: row;
    max-width: 650px;
    justify-content: space-between;
}
.bold-container{
    margin-top: -35px;
}
.bold{
    font-family: 'Inter',sans-serif;
    font-weight: 800;
    font-size: 40px;

}
.pragraph{
    font-family: 'Inter',sans-serif;
    font-size: 15px;
}
@media screen and (max-width: 600px) {
    /* Your CSS styles for small screens go here */
    .image-container img{
        display: none;  
    }
    .image-container::after{
        content: url('../images/image-web-3-mobile.jpg');
        margin: 0 auto;
        display: block;
        overflow: hidden;
        max-width: 92vw;
        max-height: 60vh;
    }
    .pragraph{
        margin-top: -5%;
    }
    .bold-container{
        margin-top: 0;
    }
    .words-super-container{
        flex-direction: column;
        margin-left: 20px;

    }
}