.flex-out{
    display: flex;
    flex-direction: row;
    column-gap: 40px;
    justify-content: center;
}
@media screen and (max-width: 600px) {
    /* Your CSS styles for small screens go here */
    .flex-out{
        flex-direction: column;
        margin: 0 auto;
        row-gap: 10px;
    }
    .ficontain{
        margin-bottom: 5%;
    }
    .secontain{
        margin-bottom: 7%;
    }
    }