.outer-container{
    margin-top: -3%;
    background-color: var(--very-dark-blue);
    max-width: 600px;
    color: var(--white);
}
.outer-container ul{
    list-style: none;
    padding: 20px;
}
.newhead{
    font-family: 'Inter',sans-serif;
    font-weight: 800;
    font-size: 40px;
    color: var(--soft-orange);
}
h3:hover{
    color: var(--soft-orange);
    cursor: pointer;
}
.list-2{
    border: .5px;
    border-style: solid;
    border-left: none;
    border-right: none;
    border-top: none;
    border-color: var(--dark-grayish-blue);

}

@media screen and (max-width: 600px) {
    /* Your CSS styles for small screens go here */
    .outer-container{
        margin: 0 auto;
        max-width: 92vw;
        color: var(--white);
    }
}