*{
    font-family: 'Inter',sans-serif;
}
.third-container{
    display: flex;
    flex-direction: row;
    margin-left: 150px;
}

.news-container{
    display: flex;
    overflow: hidden;
    text-overflow: none;
    flex-direction: row;
    margin-bottom: 20px;
    margin-left: 20px;
    column-gap: 10px;
}
#number{
    color: var(--grayish-blue);
    margin-top: -2%;
    font-size: 33px;
}
#heading{
    font-weight: 700;
    font-size: 20px;
    margin-top: -4%;
}
#heading:hover{
    color: var(--soft-red);
    cursor: pointer;
}
img{
    height: 164px;
    width: 140px;
}
@media screen and (max-width: 600px) {
    /* Your CSS styles for small screens go here */
    .third-container{
        flex-direction: column;
        margin: 0 auto;
        width: 92vw;
        row-gap: 15px;
    }
    #number{
        
        font-size: 30px;
    }
    #heading{
        font-weight: 700;
        font-size: 20px;
    }
  }